autom4te.cache/
build-aux/

aclocal.m4
config.h
config.h.in
config.h.in~
config.log
config.status
configure
dirs.c
Makefile
Makefile.in
stamp-h1

.deps/
**/.deps/
**/.dirstamp

lib/*.o
oflib-exp/*.a
oflib-exp/*.o
oflib/*.a
oflib/*.o
secchan/*.o
udatapath/*.o
udatapath/*.a
utilities/*.o
utilities/ofp-read

*~
.*.swp
*.a
